.nav-cart {
  position: relative;
  cursor: pointer;
}

.nav-cart:hover {
  opacity: 0.8; 
}

.nav-cart img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #f7a600;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.cart-item-image {
  width: 80px; 
  height: auto;
  object-fit: cover;
}
