
.sidebar {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 300px;
  height: calc(100vh - 80px); 
  padding: 20px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  overflow-y: auto;
  transition: right 0.3s ease, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.sidebar.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
  text-align: center;

}


.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: background-color 0.2s, box-shadow 0.2s;
  flex-wrap: wrap;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}


.item-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}


.item-quantity-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}


.remove-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #ff5c5c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.remove-button:hover {
  background-color: #c00;
  transform: scale(1.1);
}


.subtotal {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  gap: 20px;
}

.cart-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.btn-proceed,
.btn-shop,
.btn-go-cart {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  max-width: 200px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #f7a600;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-proceed:hover,
.btn-shop:hover,
.btn-go-cart:hover {
  background-color: #e69500;
}


.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 15px;
  margin: 10px;
  color: #333;
  transition: color 0.3s ease;
  
}

.empty-cart {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.empty-cart-image {
  max-width: 90%;
  height: auto;
  margin-top: 10px;
}
.dark-mode .cart-item-details p {
  color: #333;

}

@media (max-width: 768px) {
  .sidebar {
    top: 60px; 
    width: 100%; 
    height: calc(100vh - 60px); 
  }

  .cart-item {
    flex-direction: column; 
  }

  .cart-item-details {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .btn-proceed,
  .btn-shop,
  .btn-go-cart {
    width: 100%; 
    font-size: 1em;
  }

  .close-btn {
    /* position: absolute; */
    top: 10px;
    right: 10px;
  }
}
.dark-mode .cart-item{
  background-color: #1e1e1e;
  color: #e0e0e0;
}
.dark-mode .cart-item-details p {
  color: #e0e0e0;
}
.dark-mode .btn-proceed,
.dark-mode .btn-shop,
.dark-mode .btn-go-cart {
  background-color: #e69500;
  color: #fff;
}