
   .header .header-img {
      background-image: url('../../assets/header.png');
      background-size: cover;
      background-position: center;
      height: 500px;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
   }
   